
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    padding: 20px;
    overflow-y: scroll;
}

body {
  background-color: #232323;
  margin: auto;
  max-width: 800px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.contrast-mode {
  background-color: white;
  color: black;
}

img {
  max-width: 100%;
}
  
.rsquare {
  height: 28px;
  width: 32px;
  background-color: #ad2230;
  border-radius: 5px;
}
.contrast-mode .rsquare{
  background-color: white;
}

.linkDiv {
  position: relative; 
  left: 0; 
  top: 0; 
  float:left; 
  margin: 10px;
}

.bar {
  background: #ad2230;
  border-radius: 24px;
  width: 31px;
  height: 0px;
}
.contrast-mode .bar{
  background: white;
}

.lank:hover .bar {
  height: 29px;
  transition: 0.5s height;
}

h2, h1 {
  color: #ad2230;
}
.contrast-mode h2, .contrast-mode h1 {
  color: black;
}

a {
  color: #a3c1ad;
}
.contrast-mode a{
  color: #0000EE;
}

dl {
  margin-top: 10px;
  margin-bottom: 20px;
}

dt {
  float: left;
  clear: left;
  margin-right: 0px;
}

dd {
  margin-left: 50px;
}

dd:not(:last-child) {
  margin-bottom: 8px;
}


  
.collapsible {
  cursor: pointer;
  margin-left: 15px;
  margin-bottom: 20px;
  padding-left: 5px; 
  padding-right: 17px; 
  width: 100%;
  text-align: left;
  border-radius: 5px;
}
.active, .collapsible:hover {
  background-color: #111111;
}
.contrast-mode .active,.contrast-mode .collapsible:hover {
  background-color: #000000;
  color: white;
}
.collapsible:after {
  content: '\002B';
  float: right;
}
.active:after {
  content: "\2212";
}
.content {
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
  
  
  
.float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:10px;
  right:10px;
  background-color: #ad2230;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #111111;
  text-decoration-line: none;
  font-size: 11px;
  cursor: pointer;
  padding-top:9px;
  color: white;
}
@media only screen and (min-width: 600px){
.float{
  width:80px;
  height:80px;  
  bottom:70px;
  right:70px;
  padding-top:17px;
  font-size: 12px;  
  }
}  
 
.contrast-mode .float{
  background-color: black;
}
.non-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
  
  
  
  
.cvToggleButton {
  color: #ad2230; 
  font-size:10pt;
}

.contrast-mode .cvToggleButton {
  color: black; 
}
  
#hiddenCV{
  display: none;
}

#cvButtonShow{
  display: block;
  cursor: pointer;
}

#cvButtonHide{
  display: none;
  cursor: pointer;
}
  

#extraSkills{
  display: none;
}

#extraSkillsShow{
  display: block;
  cursor: pointer;
}

#extraSkillsHide{
  display: none;
  cursor: pointer;
}

.topHeader-desk {display: none;}
.topHeader-m {display: block;}
.links-desk {display: none;}
.links-m {display: block;}  
  
@media only screen and (min-width: 600px){
  .topHeader-desk {display: flex;}
  .topHeader-m {display: none;}
  .links-desk {display: block;}
  .links-m {display: none;}  
}
